# Ignore node_modules (both frontend and backend)
**/node_modules
**/npm-debug.log
**/.npm
**/dist

# Ignore logs
**/logs
*.log

# Ignore test coverage reports
coverage/

# Ignore frontend build artifacts
frontend/build/